.container-fluid {
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-color: #00785F;
  height: 160px;
}

.container {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  position: relative;
  height: 60px;
}
