.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 140px;
  position: absolute;
  display: flex;
  align-items: center;
  background-color: #00785f;
}

.container {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  position: relative;
  height: 50px;
}

a {
  color: white;
}
