<div class="container">
  <h4>Pick a store to find a delivery slot</h4>
  <div class="row">
    <div class="col-8 mx-auto col-sm-8 mx-lg-0 mx-md-0 col-md-6 col-lg-3">
      <div class="card supermarket-card" type="button" routerLink="/asda">
        <img
          src="https://upload.wikimedia.org/wikipedia/en/thumb/9/91/Asda_logo.svg/1200px-Asda_logo.svg.png"
          class="card-img-top"
          alt="..."
        />
      </div>
    </div>
  </div>
</div>
<!-- <app-asda-delivery></app-asda-delivery> -->
