<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1>Get notified when home delivery slots become available at
        supermarkets</h1>

      <p>COVID-19 has made it difficult to shop for groceries and online
      delivery slots are hard to find.</p>

      <p>Our service automatically monitors the availabilty of home delivery
      slots at many of the UK's leading supermarkets and notifies you once a
      slot becomes available.</p>

      <p>This is completely free for all key workers and vulnerable people to
      support them in these challenging times.</p>
    </div>

    <div class="col-sm">
      <img src="assets/home/basket.png" id="basket-of-groceries" alt="Basket of groceries" />
    </div>
  </div>
</div>
