h2 {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 30px;
}

#basket-of-groceries {
  width: 80%;
  // max-width: 200px;
}

.fad-btn {
  margin-right: 20px;
}

.container-fluid {
  background-color: #F3F3F3;
}

.how-it-works {
  p {
    padding-top: 20px;
    display: inline-block;
    width: 80%;
    text-align: left;
  }
}

.hiw-img {
  width: 50%;
}

// #hiw-img-1 {
//   width: 160px;
// }

// #hiw-img-2 {
//   width: 160px;
// }

// #hiw-img-3 {
//   width: 160px;
// }
