/* You can add global styles to this file, and also import other style files */
@import './assets/webfonts/sinkinsans_400regular/stylesheet.css';

// Fonts
@font-face {
  font-family: 'Roboto';
  src: url('assets/webfonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: 'Roboto Bold';
  src: url('assets/webfonts/roboto/Roboto-Bold.ttf');
}

html {
  position: relative;
  min-height: 100%;
}

*:focus {
  outline: none !important; // Remove that awful Bootstrap active border
}

body {
  font-family: 'Roboto';
  color: #313131;
  background-color: #fff;
  margin-bottom: 180px;
}

a {
  color: #00785f;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Bold';
}

h1 {
  padding-bottom: 30px;
}

h5 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.container {
  margin-top: 60px;
  padding: 0 50px;
}

span {
  font-family: 'Roboto Bold';
}

.alert {
  margin-top: 1rem;
  border: none;
}

.btn {
  font-weight: bold;
  padding: 10px 20px;
  color: #fff;
  outline: 0;
  border: 0;
  border-radius: 10px;
  transition: 0.3s;
}

.btn-primary {
  background-color: #00785f;

  &:hover,
  &:active,
  &:focus {
    background-color: #045746 !important;
  }

  &:disabled {
    background-color: #00785f !important;
    opacity: 0.4;
  }
}

.btn-secondary {
  color: #002b22;
  background-color: #b6e5ce;

  &:hover,
  &:active,
  &:focus {
    color: #002b22;
    background-color: #83bea2;
  }
}

.supermarket-card {
  margin: 3rem 0;
  padding: 1.5rem;
  min-height: 80px;

  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: -2px 14px 103px -4px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: -2px 14px 103px -4px rgba(0, 0, 0, 0.2);
  box-shadow: -2px 14px 103px -4px rgba(0, 0, 0, 0.2);
  border-radius: 0.8rem;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.03);
  }
}

#asdaWrapper {
  background-image: url('./assets/supermarkets/Asda_logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#icelandWrapper {
  background-image: url('./assets/supermarkets/Iceland_logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

#sainsburysWrapper {
  background-image: url('./assets/supermarkets/Sainsburys_logo.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.isDisabled {
  transition: none !important;
  &:hover {
    transform: none !important;
  }
}

.grayscale {
  filter: grayscale(100%);
}

hr {
  border-top: 2px solid rgba(0, 0, 0, 0.2) !important;
}

.form-group {
  small {
    margin: 5px 0 10px 0;
    display: block;
  }
}

.google-btn {
  margin: 25px;
  width: 80%;
  min-width: 184px;
  max-width: 184px;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  user-select: none;
  transition: all 400ms ease 0s;
  display: flex;
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  user-select: none;
}
.google-btn .google-icon-svg {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
  user-select: none;
}
.google-btn .btn-text {
  float: right;
  margin: 11px 14px 40px 40px;
  color: #757575;
  font-size: 14px;
  letter-spacing: 0.2px;
  font-family: Roboto;
  user-select: none;
}
.google-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, 0.5);
  user-select: none;
}
.google-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #f8f8f8;
  color: #fff;
  user-select: none;
}
