<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h2>Sign in to Find a Delivery</h2>
      <img
        src="../../assets/kingdom-sign-in.png"
        class="img-fluid"
        alt="Key unlocking a padlock"
        width="40%"
      />
    </div>

    <div class="col-12">
      <div class="google-btn mx-auto">
        <div class="google-icon-wrapper">
          <img
            class="google-icon-svg"
            src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"
          />
        </div>
        <p class="btn-text" (click)="googleLogin()"><b>Sign in with Google</b></p>
      </div>
    </div>
  </div>
</div>
