<div class="row m-0">
  <div class="col-12 col-lg-5 mt-4">
    <p>
      We're currently rolling out invites to a limited group of users. Sign up
      to join the waiting list.
    </p>
    <hr />
    <div class="form-group">
      <label for="email"><strong>What is your email address?</strong></label>

      <input
        type="email"
        class="form-control"
        [formControl]="email"
        placeholder="example@gmail.com"
        [ngClass]="{ 'is-invalid': error }"
      />
      <small *ngIf="error" class="text-danger">{{ error }}</small>
    </div>
    <button type="button" class="btn btn-primary my-3" (click)="onSubmit()">
      Submit
    </button>
  </div>
</div>
