<div class="container">
  <h2>Request access</h2>
  <div class="row m-0">
    <div class="col-12 col-lg-4 col-md-5">
      <button
        type="button"
        class="btn my-3 w-100"
        (click)="select('nhs')"
        [ngClass]="{
          'btn-secondary': !selectedOption.includes('nhs'),
          'btn-primary': selectedOption.includes('nhs')
        }"
      >
        I work for the NHS
      </button>
    </div>

    <div class="col-12 col-lg-4 col-md-5">
      <button
        type="button"
        class="btn my-3 w-100"
        (click)="select('general')"
        [ngClass]="{
          'btn-secondary': !selectedOption.includes('general'),
          'btn-primary': selectedOption.includes('general')
        }"
      >
        I don't work for the NHS
      </button>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
