<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/logo.png" alt="Logo for Find a Delivery" />
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav" *ngIf="!(isAuthenticated$ | async)">
        <a class="nav-item px-4 nav-link active d-lg-none" routerLink="/login"
          >Sign in</a
        >
        <a
          class="nav-item px-4 nav-link active"
          (click)="goToNextPage('howItWorks')"
          >How it works</a
        >
        <a
          class="nav-item px-4 nav-link active"
          (click)="goToNextPage('keyWorker')"
          >Who is a key worker?</a
        >
        <a
          class="nav-item px-4 nav-link active"
          (click)="goToNextPage('getInTouch')"
          >Get in touch</a
        >
      </div>

      <div *ngIf="isAuthenticated$ | async" class="navbar-nav">
        <a class="nav-item nav-link" routerLink="" (click)="signOut()"
          >Sign out</a
        >
      </div>
    </div>
  </div>
</nav>
