.navbar {
  background-color: #f3f3f3;

  img {
    width: 160px;
  }

  &-toggler {
    border: none;
  }

  .nav-link {
    font-size: 0.9rem;
    font-family: 'Roboto Bold';
    cursor: pointer;
  }
}
